@import "./mixin.scss";
@import "./variables.scss";

.header__container {
  @include flex-row;
}

.header__heading {
  background-image: url('../images/icon-messages.svg');
  @include bg-left;
  padding-left: 3rem;
}

.header__button {
  @include btn;
  background-color: #fefefe;
  padding: .5rem 2rem;
  color: $pink;
}