@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin bg-left {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}